<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parking.mapper.AccessLogMapper">

    <insert id="insert" parameterType="com.parking.model.AccessLog" useGeneratedKeys="true" keyProperty="log.id">
        INSERT INTO sys_access_log (request_id, community_id, user_id, user_name,
                                     user_role, user_ip, access_time, api_path, http_method,
                                     query_params, request_body, response_code, response_time,
                                     user_agent, create_time)
        VALUES (#{log.requestId}, #{log.communityId}, #{log.userId}, #{log.userName},
                #{log.userRole}, #{log.userIp}, #{log.accessTime}, #{log.apiPath}, #{log.httpMethod},
                #{log.queryParams}, #{log.requestBody}, #{log.responseCode}, #{log.responseTime},
                #{log.userAgent}, NOW())
    </insert>

    <select id="selectByCondition" resultType="com.parking.model.AccessLog">
        SELECT id, request_id, community_id, user_id, user_name, user_role,
               user_ip, access_time, api_path, http_method, query_params,
               request_body, response_code, response_time, user_agent, create_time
        FROM sys_access_log
        WHERE 1=1
        <if test="communityId != null">
            AND community_id = #{communityId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="apiPath != null and apiPath != ''">
            AND api_path LIKE CONCAT('%', #{apiPath}, '%')
        </if>
        <if test="startTime != null and startTime != ''">
            AND access_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND access_time &lt;= #{endTime}
        </if>
        ORDER BY access_time DESC
        LIMIT 100
    </select>

    <!-- 统计指定日期之前的访问日志数量 -->
    <select id="countBeforeDate" resultType="int">
        SELECT COUNT(*) FROM sys_access_log
        WHERE access_time &lt; #{beforeDate}
    </select>

    <!-- 批量插入到归档表 -->
    <insert id="insertToArchive">
        INSERT INTO sys_access_log_archive
        SELECT * FROM sys_access_log
        WHERE access_time &lt; #{beforeDate}
        LIMIT #{batchSize}
    </insert>

    <!-- 删除指定日期之前的访问日志 -->
    <delete id="deleteBeforeDate">
        DELETE FROM sys_access_log
        WHERE access_time &lt; #{beforeDate}
        LIMIT #{batchSize}
    </delete>

    <!-- 统计归档表中指定日期之前的记录数 -->
    <select id="countArchiveBeforeDate" resultType="int">
        SELECT COUNT(*) FROM sys_access_log_archive
        WHERE access_time &lt; #{beforeDate}
    </select>

</mapper>
